// .carousel-root{
//     width:auto !important;
//     height:100vh !important;
//     max-height: 100vh !important;
// }
.sliderimg {
    width:auto !important;
    height:auto !important;
    max-height:70vh !important;
    max-width:100% !important;
}


element.style {
}
.carousel.carousel-slider .control-arrow {
    background-color: #3f51b5 !important;
}