/* Chatbot.css */

/* Base styles */
.chat-widget {
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 320px;
  height: auto;
  max-height: calc(90vh); /* Limit height to 80% of viewport height */
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.chat-window {
  max-height: calc(80vh - 30px); /* Subtract input height, always 50px space on */
  overflow-y: auto;
  padding: 10px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .chat-widget {
    width: 100%;
    position:fixed;
    right: 0;
    left:0;
    margin:0 10px 10px 0;
  }
}

.user-message {
  background-color: #eaf6ff;
  padding: 5px;
  margin-bottom: 10px;
  text-align: right;
}

.bot-message {
  background-color: #f7f7f7;
  padding: 5px;
  margin-bottom: 10px;
  text-align: left;
}
.chat-banner{
  display: flex;
}
.close-button{
  margin:5px;
}

.chat-title{
 margin:auto;
 font-family: "DM Sans", sans-serif !important;
 font-weight: 500;
}
